#{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0B0E14;
    color: #FFFFFF;
    padding: 50px;
    }
    .banner{
       background-image: linear-gradient(180deg, rgba(11,14,20,0),rgba(11,14,20,0.6)), url("https://picsum.photos/600/300/?blur=1");
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       

       padding: 40px;
       text-align: center;
    }
    .banner p{
        margin: 5px 0 0;
        color: #d9e6ff;
    }
    .destaque{
        color: 0A7CFF;
        }
    #especial{
        background-color: #8198d3;
        padding: 10px;
        border-radius: 5px;
        width: 500px;
    }
    img{
        max-width: 50%;
        border-radius: 8px;
    }
    table{
        border-collapse: collapse;
        width: 100%;
        margin: 10px;
    }
    th, td{
        border: 1px solid #1a2030;
        padding: 8px;
    }
    th{
        background-color: #101522;
    }
    .botao{
        background-color: #0a7cff;
        border: none;
        padding: 10px 15px;
        border-radius: 6px;
        color: #FFFFFF;
    }
    .botao:hover{
        cursor: pointer;
        background-color: #005bb5;
        padding: 20px 25px;
    }